@import url('https://fonts.cdnfonts.com/css/minecraft-pe');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* -- HEADER -- */
header{
    background-color: #8ec063;
    height: 50px;
    padding: 10px;
}
header img{
    width: 50px;
}
header div{
    float: left;
}
header ul{
   float: right; 
   padding-top: 15px;
}
header ul li {
    display: inline;
}
header a{    
    cursor: pointer;
    margin: 0 5px;
    background-color: #23190e;
    padding: 10px;
    color: white;
    text-decoration: none;
}
header .active{
	background-color: #15470a;
}

header a:hover{
    background-color: #07440c;
}
header .active:hover{
	background-color: #15470a;
}
header::after{
    content: " ";
    clear: both;
	display:block;
}

/* -- MAIN -- */
main{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
main section img{
    width: 300px;
}
h1{
	background-image:url(images/b-03.jpg);
	padding:110px 0px;
	text-align:center;
	background-position:center;
	margin: 20px 0px;
	text-transform:uppercase;
	font-family: 'MINECRAFT PE', sans-serif;
	font-size:80px;
}
main section div{
	float:left;
	margin-left:5px;
}
 main section p{
	 font-family: "Tiny5", sans-serif;
	 line-height:2;
	 text-align:justify;
}
main section::after{
    content: " ";
    clear: both;
	display:block;
}
main h3{
	text-transform:uppercase;
	padding:20px 0px;
}

/* --- Footer ---*/

footer{
	background-color:#123b1f;
	padding:50px 20px;
	
}

footer a{
	color:white;
}

footer h3{
	color:white;
	padding:7px 0px;
}